# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Instance folder (Flask specific)
instance/

# Environment variables
.env

# IDE / Editor settings
.vscode/
*.swp
*.swo
.idea/
